<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CoronaVirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Reported Cases</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.getState()}"></td>
        <td th:text="${locationStat.getCountry()}"></td>
        <td th:text="${locationStat.getLatestTotalCases()}">0</td>
    </tr>
</table>
</body>

</html>